xsd/solicitud_academica.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="solicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="codigo_estudiante" type="xs:string"/>
        <xs:element name="nombre_estudiante" type="xs:string"/>
        <xs:element name="correo_institucional" type="xs:string"/>
        <xs:element name="programa" type="xs:string"/>
        <xs:element name="asignatura" type="xs:string"/>
        <xs:element name="tema" type="xs:string"/>
        <xs:element name="descripcion" type="xs:string"/>
        <xs:element name="nivel_urgencia" type="xs:string"/>
        <xs:element name="fecha_solicitud" type="xs:date"/>
        <xs:element name="estado" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
